@font-face {
  font-family: 'Eighties-Comeback';
  src: url('../public/Fonts/Eighties-Comeback/Eighties-Comeback/OTF/EightiesComeback\ It\ -\ Black\ Extra\ Condensed.otf') format('OpenType');
}
@font-face {
  font-family: 'Chantal-Bold';
  src: url('../public/Fonts/Chantal-Bold/Chantal\ Bold.ttf') format('TrueType');
}

/* @font-face{
  font-family: ;
}
 */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Eighties-Comeback', sans-serif;
}
h2{
  margin: 0;
  font-family: 'Chantal-Bold', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
