@font-face {
  font-family: 'Eighties-Comeback';
  src: url('../public/Fonts/Eighties-Comeback/Eighties-Comeback/OTF/EightiesComeback\ It\ -\ Black\ Extra\ Condensed.otf') format('OpenType');
}
@font-face {
  font-family: 'Chantal-Bold';
  src: url('../public/Fonts/Chantal-Bold/Chantal\ Bold.ttf') format('TrueType');
}

/* @font-face{
  font-family: ;
}
 */

body {
  margin: 0;
  font-family: 'Eighties-Comeback', sans-serif;
}
h2{
  margin: 0;
  font-family: 'Chantal-Bold', sans-serif;
}


